.current {
  color: white;
  background-color: blue;
}

//fonts

.silkscreen-regular {
  font-family: "Silkscreen", monospace;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", monospace;
  font-weight: 700;
  font-style: normal;
}

.cousine-regular {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
}

.cousine-regular-italic {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: italic;
}

.cousine-bold {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
}

.cousine-bold-italic {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: italic;
}


//text styling
html, body { background: white; }

body{
    max-width: 640px;
    margin: 0 auto;
    margin-top: 16px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use viewport height */
}

h1 {
  color: blue;
  font-family:"Silkscreen", monospace;
}

h2{
  font-family: "Cousine", monospace;
  line-height: 1.24;
}

h3{
  font-family: "Cousine", monospace;
}

h4{
  font-family: "Cousine", monospace;
}



a, p{
  color: black;
  font-family: "Cousine", monospace;
  line-height: 1.24;
}

a:active, a:hover{
  color: white;
  background-color: blue;
}

nav a{
  margin-right: 10px;
}

footer {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    background: white;
}

footer a {
    margin-left: 10px;
}

img {
  max-width: 640px;
}
